body {
  font-family: "Red Hat Mono", monospace;
  color: #f9e9cc;
  /* width: 1150px; */
}

h1 {
  color: #312c57;
  font-size: 60px;
  font-weight: 400;
  margin: 30px 0 30px 50px;
}

p {
  color: #4587ac;
}

footer {
  margin: 30px 0 30px 50px;
  font-size: 25px;
}

footer,
footer a {
  color: #312c57;
}

footer a:hover {
  color: #4587ac;
  transition: all 400ms ease;
}

pre {
  width: 890px;
  height: 150px;
  font-size: 20px;
  line-height: 31px;
}

.agenda {
  font-size: 30px;
  color: #ba492a;
  margin: 10px 0 10px 50px;
  font-family: "Red Hat Mono", monospace;
}

.agenda p {
  text-decoration: underline;
  margin-bottom: -10px;
}

.agenda li {
  line-height: 55px;
  margin: 0 0 0 30px;
}

.agenda a {
  text-decoration: none;
  color: #ba492a;
}

.agenda a:hover {
  color: #e19b52;
  transition: all 400ms ease;
}

.list-div {
  color: #e19b52;
  margin: 30px 0 30px 50px;
  font-size: 25px;
}

.list-categories ul {
  line-height: 50px;
  color: #ba492a;
  font-size: 22px;
}

.sublists {
  list-style: square;
}

.list-div {
  font-size: 22px;
}

.challenges-list {
  color: #ba492a;
}

.challenge1-answer-code {
  height: 345px;
}

.challenge2-description-code {
  height: 375px;
}

.challenge2-solution-code {
  height: 690px;
}

.takeaways-list li {
  line-height: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.pytutor {
  border: 0.5px #acacac solid;
}

.list-title {
  list-style: none;
  padding-bottom: 10px;
}

.sub-sub-list {
  color: #312c57;
  list-style: disc;
}

/* color palette by @mobikosmos on twitter*/
/* 
#f9e9cc - cream
#e19b52 - yellow/orange
#ba492a - brown
#4587ac - blue
#312c57 - purple
*/
